@page "/"
@using PhotinoEx.Core.Enums
<h3>Home</h3>
<button @onclick="OpenFile">ClickMe</button>

@code {

    private async Task OpenFile()
    {
        var result = await Program.App?.MainWindow.ShowMessageDialogAsync("Error with choice", "There has been an error, please retry your option, if this does not work, please report to github", DialogButtons.OkCancel, DialogIcon.Info);
    }
}
